@import '../../styles/variables';

:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #666;

	.video_container {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100vw;
		overflow: hidden;

		video {
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			transform: translateX(-50%) translateY(-50%)
		}

		.overlay {
			position: absolute;
			background: rgba(0,0,0,0.3);
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url(/assets/images/back_splash1.png) no-repeat center;
			background-size: cover;
		}
	}

	.signin-container {
		background: #fff;
		z-index: 1;
		border-radius: 10px;
		padding: 30px 20px 20px 20px;

		mat-form-field {
			width: 100%;
		}

		.logo {
			background-size: contain;
			background-position: center;
			text-align: center;
			min-height: 40px;
			background-repeat: no-repeat;
			margin-bottom: 15px;
			background-image: url(/assets/logo.png)
		}
	}
}
